h1{
    background-color: orangered;
    border: 5px solid white;
    text-align: center;
}
h2{
    background-color: white;
    border:5px dashed white ;
    text-align: center;
}
h3{
    background-color: green;
    border: 5px dotted white;
    text-align: ;
}
*
{
    font-size: 45px;
}